* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    form#search {
        position: relative;
        width: 200px;

        input {
            width: 100%;
            padding: 5px;
        }

        ul { 
            width: 100%;
            background-color: white;
            position: absolute;
            box-shadow: 0 4px 10px 0px black;

            li {
                padding: 5px;

                &:hover {
                    background-color: lightgray;
                }
            }

            button {
                border: none;
                padding: 5px;
                background-color: transparent;
                color: blue;
                text-decoration: underline;
            }
        }
    }

    form#new-product {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        input, select, button {
            margin-bottom: 10px;
            width: 100%;
            padding: 5px;
        }
    }

    .shopping-list {
        margin-top: 30px;
        width: 300px;

        li {
            padding: 10px;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;

            button {
                border: none;
                padding: 5px 5px;

                &:hover {
                    background-color: lightgray;
                }
            }
        }

        .grönt {
            background-color: rgb(122, 193, 125);
        }

        .bröd-och-bak {
            background-color: rgb(190, 147, 95);
        }

        .konserver {
            background-color: rgb(186, 169, 169);
        }

        .olja-mm {
            background-color: rgb(212, 137, 137);
        }

        .kolhydrater {
            background-color: rgb(213, 213, 138);
        }

        .mejeri {
            background-color: rgb(143, 212, 189);
        }

        .protein {
            background-color: rgb(169, 144, 191);
        }

        .fryst {
            background-color: rgb(134, 154, 204);
        }

        .godis-och-snacks {
            background-color: rgb(204, 124, 164);
        }

        .icke-mat {
            background-color: rgb(201, 201, 201);
        }
    }
}

ul {
    list-style-type: none;
}

.hidden {
    display: none !important;
}